.wrapper {
  border-bottom: 1px solid var(--light-blue);
  background-color: var(--white);
}

.logo {
  width: 300px;
}

.tabs {
  flex-grow: 1;
  display: flex;
}

.tab {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-size: 18px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.25s ease;
}
.tab:hover {
  text-decoration: none;
  border-bottom: 3px solid var(--light-blue);
}

.extras {
  text-align: right;
  width: 200px;
}

.extras a {
  color: var(--dark-blue);
}
.extras a:hover {
  color: var(--light-blue);
}

.active {
  font-weight: bold;
  border-bottom: 3px solid var(--light-blue);
}
